<md-toolbar color="primary">
  <button type="button" md-icon-button (click)="sidenav.open()">
    <i class="material-icons">menu</i>
  </button>
  <span class="menu-brand">SimptisGui v.2.0</span>
  <span class="spacer"></span>
  <div *ngIf="dataService.loggedUser">
    <button type="button" md-icon-button>
      <i class="material-icons">face</i>
    </button>
    <span>{{dataService.loggedUser.username}}</span>
  </div>
  <div>
    <button type="button" md-icon-button [mdMenuTriggerFor]="userProfileMenu">
      <i class="material-icons">more_vert</i>
    </button>
    <md-menu #userProfileMenu="mdMenu">
      <button md-menu-item>
        <!--<i class="material-icons">settings</i>-->
        <span>{{'OPTIONS' | translate}}</span>
      </button>
      <button md-menu-item routerLink="login">
        <!--<i class="material-icons">exit_to_app</i>-->
        <span>{{'LOGOUT' | translate}}</span>
      </button>
    </md-menu>
  </div>
</md-toolbar>
