<div>
  <div>
    <md-card class="info-card">
      <md-card-header>
        <div md-card-avatar>
          <i class="material-icons">home</i>
        </div>
        <md-card-title>{{'HOME.HOME_CARD_TITLE' | translate}}</md-card-title>
        <md-card-subtitle>{{'HOME.APP_STATS' | translate}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image height="300px" src="assets/img/steel.jpg" >
      <md-card-content>
        <!--<p>{{'WELCOME' | translate}} <i>{{loggedUser.username}}</i>...</p>-->
        <div>
          <p>
            <span>{{'HOME.MATERIALS_COUNT' | translate}}</span>:
            <span>{{stats?.materialsCount}}</span>
          </p>
          <p>
            <span>{{'HOME.PROCESSES_COUNT' | translate}}</span>:
            <span>{{stats?.processesCount}}</span>
          </p>
        </div>
        <p>
          <span>{{'HOME.LAST_LOGGED_USER' | translate}}</span>:
          <span> {{appInfo?.lastLoggedUser?.user}} ({{appInfo?.lastLoggedUser?.date | date: 'HH:mm:ss, dd.MM.yyyy'}})</span>
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary" routerLink="/materials">
          <span>{{'HOME.EXPLORE_MATERIALS' | translate}}</span>
        </button>
        <button md-raised-button color="accent" routerLink="/processes">
          <span>{{'HOME.EXPLORE_PROCESSES' | translate}}</span>
        </button>
        <button md-raised-button color="primary" routerLink="/settings">
          <span>{{'HOME.CHECK_SETTINGS' | translate}}</span>
        </button>
      </md-card-actions>
    </md-card>
  </div>
</div>
