
  <!--<div layout="row" layout-wrap>-->
    <!--<div flex="25" class="md-whiteframe-1dp" style="padding-right:1px">-->
      <!--<md-toolbar class="md-hue-2">-->
        <!--<div class="md-toolbar-tools">-->
          <!--<h3>-->
            <!--<span translate="MATERIALS_LIST"></span>-->
          <!--</h3>-->
        <!--</div>-->
      <!--</md-toolbar>-->
      <!--<md-subheader class="md-no-sticky">-->
        <!--<div style="text-align: right">-->
          <!--<md-button ng-if="selectionCounter>0" aria-label="delete" class="md-icon-button" ng-click="removeListItem()">-->
            <!--<md-tooltip md-direction="top">-->
              <!--<span translate="REMOVE_SELECTED"></span>-->
            <!--</md-tooltip>-->
            <!--<span class="m-icon">delete</span>-->
          <!--</md-button>-->
          <!--<md-button aria-label="add" id="addButton" class="md-icon-button" ng-click="openAdditionDialog($event)">-->
            <!--<md-tooltip md-direction="top">-->
              <!--<span translate="ADD_NEW"></span>-->
            <!--</md-tooltip>-->
            <!--<span class="m-icon">add</span>-->
          <!--</md-button>-->
        <!--</div>-->
      <!--</md-subheader>-->
      <!--<md-content flex style="height: calc( 100vh - 172px);">-->
        <!--<md-list>-->
          <!--<md-list-item ui-sref="materialDetails({materialId: material._id})" ui-sref-active="active" aria-label="selectMaterial" class="md-3-line" ng-repeat="material in materials | orderBy: 'name'" ng-click="selectItem(material, $index)">-->
            <!--<md-checkbox ng-change="checkSelectionCounter(material)" ng-disabled="loggedUser.role !== 'ADMIN' && material.owner._id !== loggedUser._id" ng-model="material.selected" aria-label="item-checkbox"></md-checkbox>-->
            <!--<img class="md-avatar" ng-src="{{material.structureImage.path}}" />-->
            <!--<div class="md-list-item-text" layout="column">-->
              <!--<h3 class="cuttable-text">{{ material.name }}</h3>-->
              <!--<p class="cuttable-text">{{ material.owner.username }}</p>-->
              <!--&lt;!&ndash;<p class="cuttable-text">{{ material.description }}</p>&ndash;&gt;-->
            <!--</div>-->
          <!--</md-list-item>-->
        <!--</md-list>-->
      <!--</md-content>-->
    <!--</div>-->
    <!--<div flex="75">-->
      <!--<div ui-view="materialDetails"></div>-->
    <!--</div>-->
  <!--</div>-->



<div style="display: flex;">
  <div style="border: solid 1px;  width: 20%;">
    <md-list>
      <md-list-item *ngFor="let material of materials">
        <md-icon md-list-icon><img width="30px" height="30px" [src]="'http://localhost:8081' + material.structureImage.path.replace('.','')" /></md-icon>
        <h4 md-line>{{material.name}}</h4>
        <p md-line> {{material.owner.username}}</p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
  <div style="border: solid 1px; width: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>
