<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav class="sidenav">
    <app-sidenav-body [sidenav]="sidenav"></app-sidenav-body>
  </md-sidenav>
  <div class="sidenav-content">
    <app-navbar [sidenav]="sidenav"></app-navbar>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
