<div>
  <md-toolbar>{{'MENU' | translate}}</md-toolbar>
  <md-list>
    <md-list-item class="menu-item" *ngFor="let menuItem of menuItems" [routerLink]="menuItem.href" (click)="sidenav.close()">
      <i class="material-icons menu-icon">{{menuItem.icon}}</i>
      <span>{{menuItem.name | translate}}</span>
    </md-list-item>
  </md-list>
</div>

