<div>
  <md-card class="login-card">
    <md-card-header>
      <div md-card-avatar>
        <i class="material-icons">account_circle</i>
      </div>
      <md-card-title>{{'LOG_IN.LOGIN'|translate}}</md-card-title>
      <md-card-subtitle>{{'LOG_IN.LOGIN_TEXT'|translate}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div class="align-center" *ngIf="!loading">
        <form #loginForm="ngForm">
          <input style="position:absolute; top:-500px" type="text" name="fakeusernameremembered"/>
          <input style="position:absolute; top:-500px" type="password" name="fakepasswordremembered"/>
          <div>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="{{'LOG_IN.USERNAME' |translate}}" type="text" ngModel
                     autocomplete="off" required name="username">
            </md-form-field>
          </div>
          <div>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="{{'LOG_IN.PASSWORD' |translate}}" type="password" ngModel
                     autocomplete="off" required name="password">
            </md-form-field>
          </div>
          <!--<div *ngIf="!loginForm.valid">-->
            <!--{{'LOG_IN.REQUIRED_FIELDS'|translate}}-->
          <!--</div>-->
          <br>
          <div>
            <button [disabled]="!loginForm.value.username || !loginForm.value.password" md-raised-button color="primary"
                    type="submit" (click)="login(loginForm.value)">
              <span>{{'LOG_IN.SIGN_IN' | translate}}</span>
            </button>
            <button md-raised-button color="default" (click)="clear(loginForm)">
              <span>{{'LOG_IN.CLEAR' | translate}}</span>
            </button>
          </div>
        </form>
      </div>
      <!--<h3>{{'LOG_IN.LOGIN_IN_PROGRESS' | translate}}</h3>-->
      <div>
        <md-spinner class="loading-spinner" *ngIf="loading"></md-spinner>
      </div>
    </md-card-content>
    <md-card-footer>
      <br>
      <div class="align-center">
        <div *ngIf="adminInfo">
          <i>{{'LOG_IN.LOGIN_DESCRIPTION' | translate}}</i>
          <a [href]="'mailto:'+adminInfo.email+'?Subject=[SIMPTIS%20-create account request]'">
            <i>
              {{adminInfo.email}}
            </i>
          </a>
        </div>
        <br>
        <div>
          <i>
            username: admin, password: admin
          </i>
        </div>
        <br>
      </div>
    </md-card-footer>
  </md-card>
</div>
